html {
  min-height: 100%;
  min-width: 100%;
}

body {
  background-color: #ff8008;
  text-align: center;
}



.container-fluid {
  
}

/* Nav */
nav {
  
}

.introduction {
  position: relative;
  /* width: 100vw;
  height: 100vh; */
}

.introPic {
  position: absolute;
  filter: blur(3px);
  width: 98vw;
  height: 98vh;
  z-index: -2;
}

.brand {
  display: flex;
  justify-content: center;
}

.nav-item {
 
}

.nav-link {
  margin-top: 5%;
  color: #ff8008;
  font-size: 35px;
  text-decoration: none;
}

.nav-link:hover {
  color: #FFA500;
}

/* Introduction Section */


.introBox {
 
  background-color: rgba(0,0,0, 0.4);
  margin-top: 8%;
  
  
}
 /* #f4fefd */
.introContent {
  line-height: 1.6;
  text-align: center;
 
}

.introContent > h2{
  color:#fff;
  display: block;
  text-align: center;
 
  font-size: 125px;
}

.introContent > p {
  
  color: #f4fefd;
  font-size: 25px;
  max-width: 80ch;
  margin: 0 auto;
 
  
}

.introBtns {
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.introBtns > button {
  background-color: #ff8008;
  margin: 3%
}

button > a {
  
  color: #f4fefd;
  text-decoration: none;
  font-size: 25px;
}

button > a:hover {
  background-color: #ffc837;
  
  text-decoration: none;
}

