html {
  min-height: 100%;
  min-width: 100%;
}

body {
  
  font-family: sans-serif;
  text-align: center;
  line-height: 2em;
}

/* Nav */

nav {
  border-bottom: #000 1px solid;
  
  background-color: #fff;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.introduction {
  position: relative;
}

.titlePic {
  position: absolute;
  filter: blur(3px);
  width: 98vw;
  height: 75vh;
  z-index: -2;
}

.brand {
  border: #000 2px solid;
  box-shadow: 3px 2px;
  height: 15%;
  margin-bottom: 3%;
  width: 15%;
}

.nav-link {
  margin-top: 5%;
  color: #ff8008;
  font-size: 35px;
  text-decoration: none;
}

.nav-link:hover {
  color: #FFA500;
}

/* Introduction Section */

.introBox {
  background-color: rgba(0,0,0, 0.4);
  margin-top: 8%;
}

.introContent {
  line-height: 1.6;
  text-align: center;
}

.introContent > h2 {
  color:#fff;
  display: block;
  text-align: center;
  font-size: 125px;
}

.introContent > p {
  color: #f4fefd;
  font-size: 25px;
  max-width: 80ch;
  margin: 0 auto;  
}

.introBtns {
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.introBtns > button {
  background-color: #ff8008;
  margin: 3%
}

button:hover {
  background-color: #FFA500;
}

button > a {
  
  color: #f4fefd;
  text-decoration: none;
  font-size: 25px;
}

button > a:hover { 
  color: #f4fefd;
  text-decoration: none;
}


/* Sample Menu Section */

.sampleMenuDiv {
  display: block;
  height: 30%;
  margin-left: 2%;
  width: 95%; 
}

.sampleMenu {
  justify-content: center;
  margin-top: 10%;
  line-height: 2em;
}

.sampleMenuPic {
  align-items: right;
  height: 75%;
  margin-top: 15%;
  margin-left: 2%;
  width: 95%;
}

.sampleMenuDesc {
  font-size: 20px;
  margin-top: 2%;
  
}

#sampleTitle {
  text-align: center;
  color: #000;
}

.menuItems > li:hover {
  border-bottom: 2px solid;
  margin-left: .5%;
  margin-bottom: .5%;
}


/* Main Menu */

.choiceOfMeat {
  display: block;
}

#menuPic {
  filter:blur(0);
  height: 65vh;
  margin-bottom: 3%;
  position: absolute;
}

#fullMenu {
  position: relative;
  top: 375px;
}


/* Footer */

.footer {
  text-align: center;
  height: 5%;
  
  line-height: 2em;
  margin-top: 2%;
  
}

.social-icon {
  color: #000;
  margin: 20px;

  
}




  



